@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h2 {
    color: #000;
}

/* create separate paragraphs of text */
p {
    margin: 10px 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}

:root {
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
}

/* header and navigation bar */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #ff6d00;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* logo */
#logo {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.navbar ul {
    display: flex;
    text-align: center;
}

.navbar li {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    margin: 0.5em;
    width: 150%;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar li.active > a {
    background-color: #fff;
    border-radius: 10px;
    color: inherit;
    padding: 1px 15px;
}

main.container {
    height: 100%;
}

/* figure*/
#card-feature img {
    width: 100%;
    aspect-ratio: 256 / 389;
}

/* Bio card  */
#quotes {
    text-align: center;
}

.feature-intro a {
    color: #000;
}

#feature-heading {
    margin: 10px;
}

/* home card  */
#home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#home-card-feature img{
    display: block;
    width: 100%;
    aspect-ratio: 285/211;
    text-align: center;
}

#home-card-feature.books-img{
    width: 100%;
    aspect-ratio: 1302/1361;
    text-align: center;
}

.home-card-feature i {
    width: 50%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 80px;
}

#home-card-feature a {
    color: #2e7d32;
    background-color: #f9f9f9;
}

#home-card-feature a:hover {
    color: #ff6d00;
}

/* aside section  */
aside.book-list {
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    background-color:antiquewhite;
    text-align: center;
}

aside.book-list ul {
    list-style: square inside;
    margin: 10px;
}

aside.book-list ul li {
    color: #2e7d32 
}

/* contact card  */
#contact-card {
    margin-bottom: 40px;
}

#contact-card-feature {
    text-align: center;
}

#contact-card-feature img{
    display: block;
    width: 100%;
    aspect-ratio: 285/211;
    text-align: center;
}
    
#contact-card-feature figcaption {
    background: #f5f5f5;
    padding: 10px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: auto;
    background-color: #ff6d00;
    padding: 20px 0;
}

footer input[type="email"], .signup-btn {
    padding: 0.5em;
    border: none;
}

.signup-btn {
    background-color: #000;
    color:rgb(238, 238, 238);
    cursor: pointer;
    margin-bottom: 5px;
}

footer .copyrights {
    text-align: center;
    margin: 10px;
}

footer .copyrights #copyrights-socials {
    padding: 5px 0 0 0;
    margin: 0 auto;
}

footer .copyrights #copyrights-socials a {
    color: #000;
}

footer ul#social-networks {
    text-align: center;
    margin: 10px;
}

footer ul#social-networks li {
    display: inline-block;
    text-align: center;
    width: 100px;
}

footer ul#social-networks a {
    display: block;
    text-decoration: none;
    color: #000;
}

/* Media Queries */
/* medium screen sizes - 560px wide and down */
@media (max-width: 560px) {

    #home-card-feature.home-order {
        order: -1;
    }

    .lesson-from-aloes, 
    hr,
    .hero-image-text, 
    .home-img {
        display: none;
    }

    /* use display block to get more control over spacing to remove space between image and figcaption */
    #card-feature img {
        display: block;
        width: 100%;
        aspect-ratio: 256 / 389;
    }
        
    figcaption {
        background: #f5f5f5;
        padding: 10px;
    }
        
    .feature-intro {
        padding: 0 20px 20px 20px;
    }
            
    #quotes {
        border-width: 2px 0;
        border-style: dotted;
        padding: 10px;
        margin: 10px 20px 0 20px;
        background-color:#fff;
        border-radius: 10px;
    }

    h2, h3 {
        text-align: center;
    }

    h4 {
        text-align: left;
    }
}

/* tablet and desktop size screens */
@media (min-width: 560px) {

    /* header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 0 20px;
    }

    div#logo {
        margin: 30px;
        text-align: center;
    }
    
    /* navigation bar */
    .navbar ul {
        text-align: center;
        margin: 0 !important;
    }
    
    .navbar li {
        font-size: 1.4rem;
        list-style: none;
        margin-right: 1em;
    }
    
    .navbar a {
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    .navbar li.active > a {
        background-color: #ff6d00;
        color: inherit;
        border-radius: 0;
    }
    
    .navbar a:hover {
        text-decoration-color: #2e7d32;
    }
    
    .navbar li:not(.active):hover {
        text-decoration: underline #ff6d00 4px;
    }

    .feature-intro a:hover {
        text-decoration: underline #ff6d00 4px;
    }

    /* Hero image */
    #hero-image {
        min-width: 100vw;
        aspect-ratio: 3/1;
        background: #000 url('../images/hero-image.webp') center center/cover no-repeat;
        margin-top: 0;
        position: absolute;
    }
    
    .hero-image-text {
        width: 250px;
        color: #e5e5e5;
        margin: auto;
        font-size: 1em;
        padding: 2em;
        text-align: center;
    }
    
    /* home card  */
    #home-card {
        display: flex;
        flex-direction: row;
        width: 50%;
        position: relative;
        margin: auto;
        margin-top: 22%;
    }

    #home-card-feature {
        width: 100%;
        margin: 10px;
        border-radius: 10px;
        background: rgb(238, 238, 238);
        padding: 5px;
    }

    /* Bio card  */
    main.bio-container {
        height: 100%;
    }

    #card {
        display: flex;
        flex-direction: row;
        width: 70%;
        position: relative;
        margin: 40px auto ;
        background-color: rgb(245,245,245);
        border: 2px solid rgb(220,220,220);
        border-radius: 10px;
    }

    #card-feature {
        width: 50%;
        margin: 10px;
        border-radius: 10px; 
    }

    aside.book-list {
        width: 250px;
        margin: 20px 0 20px 0;
        padding: 10px;
        border-radius: 10px 0 0 10px;
        background-color:antiquewhite;
        text-align: center;
    }
    
    aside.book-list ul {
        list-style: square inside;
        margin: 10px;
    }

    aside.book-list ul li {
        color: #2e7d32 3px
    }

     /* Books card  */
    #books-card-feature img {
        width: 100%;
        aspect-ratio: 87 / 128;
    }

    /* contact hero image */
    #contact-hero-image {
        min-width: 100vw;
        aspect-ratio: 3/1;
        background: #000 url('../images/hero-image.webp') center center/cover no-repeat;
        margin-top: 0;
        position: absolute;
    }

    /* contact card  */
    #contact-card {
        display: flex;
        flex-direction: row;
        width: 50%;
        position: relative;
        margin: auto;
        margin-top: 22%;
        margin-bottom: 40px;
        background-color:#fff;
        border: 2px solid rgb(238, 238, 238);
        border-radius: 10px;
    }

    #contact-card-feature {
        width: 100%;
        margin: 10px;
        border-radius: 10px;
    }

    #contact-card-feature img{
        width: 100%;
        aspect-ratio: 285/211;
        text-align: center;
    }
        
    #contact-card-feature figcaption {
        background: none;
        padding: 0;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        padding: 0 20px;
    }
}
