@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

h2 {
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}

:root {
    --step--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
    --step--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
    --step-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
    --step-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
    --step-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
}

/* header and navigation bar */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    background-color: #ff6d00;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* logo */
#logo {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.navbar ul {
    display: flex;
    text-align: center;
}

.navbar li {
    display: inline-block;
    font-size: 1rem;
    list-style: none;
    margin: 0.5em;
    width: 150%;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.navbar li.active > a {
    background-color: #fff;
    border-radius: 10px;
    color: inherit;
    padding: 1px 15px;
}

main.home-container {
    height: 100%;
}

 /* Home Hero image */
#hero-image {
    min-width: 100vw;
    aspect-ratio: 285/211;
    background: url('../images/athol_fugard.webp') center center/cover no-repeat;
    position: relative;
}

.hero-image-text {
    width: 120px;
    color: #e5e5e5;
    margin: auto;
    font-size: 0.6em;
    padding: 2em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* home card  */
#home-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#home-card-feature {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#home-card-feature img{
    width: 100%;
    aspect-ratio: 285/211;
    text-align: center;
}

#home-card-feature.books-img{
    width: 100%;
    aspect-ratio: 1302/1361;
    text-align: center;
}

.home-card-feature i {
    width: 50%;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 80px;
}

#home-card-feature a {
    color: #2e7d32;
    background-color: #f9f9f9;
}

#home-card-feature a:hover {
    color: #ff6d00;
}

#feature-heading {
    margin: 10px;
}

/* contact card  */
#contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#contact-card-feature {
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#contact-card-feature img{
    width: 100%;
    aspect-ratio: 285/211;
    text-align: center;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20vh;
    margin-top: auto;
    background-color: #ff6d00;
}

footer input[type="email"], .signup-btn {
    padding: 0.5em;
    border: none;
}

.signup-btn {
    background-color: #000;
    color:rgb(238, 238, 238);
    cursor: pointer;
}

.copyrights {
    text-align: center;
    margin: 10px;
}

footer ul#social-networks {
    text-align: center;
    margin: 10px;
}

footer ul#social-networks li {
    display: inline-block;
    text-align: center;
    width: 100px;
}

footer ul#social-networks a {
    display: block;
    text-decoration: none;
    color: #000;
}

/* Media Queries */
/* tablet and desktop size screens */
@media (min-width: 560px) {

    /* header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 6.2vh;
        background-color: #fff;
    }

    div#logo {
        margin: 30px;
        text-align: center;
    }
    
    /* navigation bar */
    .navbar ul {
        text-align: center;
    }
    
    .navbar li {
        line-height: 263%;
        height: 263%;
        width: 150%;
        font-size: 1.4rem;
        list-style: none;
        margin: 1em;
    }
    
    .navbar a {
        display: block;
        text-decoration: none;
        color: inherit;
    }
    
    .navbar li.active > a {
        background-color: #ff6d00;
        color: inherit;
        border-radius: 0;
    }
    
    .navbar a:hover {
        text-decoration-color: #2e7d32;
    }
    
    .navbar li:not(.active):hover {
        text-decoration: underline overline dotted #ff6d00 4px;
    }

    /* Hero image */
    #hero-image {
        min-width: 100vw;
        aspect-ratio: 3/1;
        background: #000 url('../images/hero-image.webp') center center/cover no-repeat;
        margin-top: 0;
        position: absolute;
    }
    
    .hero-image-text {
        width: 250px;
        color: #e5e5e5;
        margin: auto;
        font-size: 1em;
        padding: 2em;
        text-align: center;
    }
    
    /* home card  */
    #home-card {
        display: flex;
        flex-direction: row;
        width: 50%;
        position: relative;
        margin: auto;
        margin-top: 22%;
    }

    #home-card-feature {
        width: 100%;
        margin: 10px;
        border-radius: 10px;
        background: rgb(238, 238, 238);
    }

    /* contact hero image */
    #contact-hero-image {
        min-width: 100vw;
        aspect-ratio: 5/2;
        background: #000 url('../images/hero-image.webp') center center/cover no-repeat;
        margin-top: 0;
        position: absolute;
    }

    /* contact card  */
    #contact-card {
        display: flex;
        flex-direction: row;
        width: 50%;
        position: relative;
        margin: auto;
        margin-top: 22%;
        background-color:#fff;
        border-radius: 10px;
    }

    #contact-card-feature {
        width: 100%;
        margin: 10px;
        border-radius: 10px;
        border: 2px solid rgb(238, 238, 238);
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        align-items: center;
        height: 6vh;
        margin-top: auto;
    }
}
