@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; 
}

.header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6d00;
}